@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px; }
.wrapper
{
	width:600px;
	background:#0F6;
	margin:auto;
	
}
.header
{
	width:598;
	height:40px;
	background:#CCC;
	border:2px solid #0F3;
}
.table
{
	background:#FFF;
	text-align:center;
}
table,th,td
{
	border:1px solid #0F3;
}

